# Specific files and folders to ignore
sha256/tb/wave.fst
sha256/tb/obj_dir/Vtop__verFiles.dat
sha256/tb/obj_dir/Vtop__verFiles.dat

sha256_unrolled/tb/wave.fst
sha256_unrolled/tb/obj_dir/Vtop__verFiles.dat
sha256_unrolled/tb/obj_dir/Vtop__verFiles.dat

sha256_unrolled_appli/tb/wave.fst
sha256_unrolled_appli/tb/obj_dir/Vtop__verFiles.dat
sha256_unrolled_appli/tb/obj_dir/Vtop__verFiles.dat

Driver C++ test bench/a.out